@import url(https://fonts.googleapis.com/css?family=Bitter);
html {
  font-size: 80%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

blockquote {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

.container {
  width: 100%; }

.half-width-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 50%; }

.three-quarters-width-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 76.92308%; }

.full-width-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%; }

.half-width-m {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 50%; }

.three-quarters-width-m {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 76.92308%; }

.full-width-m {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%; }

.half-width-l {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 50%; }

.three-quarters-width-l {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 76.92308%; }

.full-width-l {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%; }

@media only screen and (max-width: 600px) {
  .half-width-s {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 50%; }
  .three-quarters-width-s {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 76.92308%; }
  .full-width-s {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 100%; } }

@media only screen and (min-width: 601px) and (max-width: 1039px) {
  .half-width-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 50%; }
  .three-quarters-width-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 76.92308%; }
  .full-width-m {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 100%; } }

@media only screen and (min-width: 1040px) {
  .half-width-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 50%; }
  .three-quarters-width-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 76.92308%; }
  .full-width-l {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 100%; } }

.content-center {
  text-align: center; }

.content-left {
  text-align: left; }

.content-right {
  text-align: right; }

.content-justify {
  text-align: justify; }

.visible-hidden {
  -webkit-animation: 0.5s linear 0s 1 normal forwards running visible-hidden;
  animation: 0.5s linear 0s 1 normal forwards running visible-hidden; }

@-webkit-keyframes visible-hidden {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }

@keyframes visible-hidden {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }

.visible-shown {
  -webkit-animation: 0.5s linear 1s 1 normal forwards running visible-shown;
  animation: 0.5s linear 1s 1 normal forwards running visible-shown; }

@-webkit-keyframes visible-shown {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }

@keyframes visible-shown {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.78);
  padding: 5px 0; }
  footer li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; }
  footer li ~ li {
    margin-left: 1%; }
  footer li > a {
    color: #fff; }

i {
  padding-right: 7px; }

a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-family: "Bitter", Helvetica;
  text-decoration: none;
  -webkit-transition: color 0.5s linear 0s, -webkit-transform 0.5s;
  transition: color 0.5s linear 0s, -webkit-transform 0.5s;
  transition: color 0.5s linear 0s, transform 0.5s;
  transition: color 0.5s linear 0s, transform 0.5s, -webkit-transform 0.5s;
  color: black;
  font-size: 28px;
  font-size: 1.75rem; }
  a:hover {
    color: #C30000;
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  @media only screen and (max-width: 600px) {
    a {
      font-size: 20px;
      font-size: 1.25rem; } }

* {
  font-family: "Bitter", Helvetica;
  box-sizing: border-box; }

*:focus {
  outline: 0; }

html, body {
  height: 100%; }

body {
  background-image: -webkit-radial-gradient(circle farthest-corner at 7% 7%, #FFF 3%, #BDD7FF 80%, #5D758E 98%);
  background-image: radial-gradient(circle farthest-corner at 7% 7%, #FFF 3%, #BDD7FF 80%, #5D758E 98%); }

header {
  padding-top: 10%; }

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 3px 1px #D6B679;
  color: #3C3805; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
      font-size: 2.5rem; } }

h3 {
  font-size: 28px;
  font-size: 1.75rem;
  color: #3C3805; }
  @media only screen and (max-width: 600px) {
    h3 {
      font-size: 20px;
      font-size: 1.25rem; } }

.quote-container {
  font-size: 28px;
  font-size: 1.75rem;
  border-radius: 5px;
  box-shadow: 3px 4px 3px 2px #555;
  color: #3C3805;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.68);
  padding: 1% 0; }
  @media only screen and (max-width: 600px) {
    .quote-container {
      font-size: 20px;
      font-size: 1.25rem; } }
  .quote-container p:last-child {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    border-top: 1px solid #000; }

.next-button {
  font-size: 30px;
  font-size: 1.875rem;
  border-radius: 5px;
  box-shadow: 1px 4px 1px 1px #4E2C01;
  color: #3C3805;
  border: 1px solid #D6B679;
  background-color: #D6B679;
  margin-top: 2%;
  padding: 1% 3%; }
  .next-button:active, .next-button :focus {
    -webkit-transform: translate(1px, 2px);
        -ms-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
    box-shadow: 0px 2px 1px 1px #4E2C01; }
