// ----------------------------------------------------------------------
  // Utils
// ----------------------------------------------------------------------
@import "utils/mixins";
@import "utils/extends";

// ----------------------------------------------------------------------
  // Base
// ----------------------------------------------------------------------
@import "base/fonts";
@import "base/variables";
@import "base/reset";

// ----------------------------------------------------------------------
  // Layout
// ----------------------------------------------------------------------
@import "layout/grid";

// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
	// Themes
// ----------------------------------------------------------------------


* {
	font-family: $bitter;
	@include box-sizing(border-box);
}

*:focus{
	outline:0;
}

header{
	margin-top: 10%;
}

h1 {
	@include rem("font-size", $largerSize);
	@include margin-auto();
}

.quote-text{
	@include rem("font-size", $midlargeSize);
}


.next-button{
	@include rem("font-size", $buttonSize);
	@include roundedCorners(5);
	margin-top: 2%;
	padding: 1% 3%;

}